body {
	text-align: center;
	background: url('../images/background.jpg') no-repeat 0 50%;
	/*background-image: url('../images/background.jpg');*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	color: white;
	text-transform: uppercase;
}


#container {
	font-size: 12px;
}

#table img {
	width: 20;
	height: 20;
}

#buttons button {
	margin-top: 15px;
	font-size: 14px;
	font-weight: bold;
}